@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);
@import url(https://fonts.googleapis.com/css?family=Be+Vietnam+Pro&display=swap);

*,
::after,
::before {
    box-sizing: border-box
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px
}

header {
    /* text-align: center; */
    margin-bottom: 20px
}

header h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: yellowgreen;
    letter-spacing: 1px;
}

.order-confirmation {
    font-family: Roboto;
    text-align: center;
    margin-bottom: 20px;
    color: #fff
}

body {
    font-family: Roboto, cursive;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

.screen {
    width: 90%;
    margin: auto;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

.screen-end {
    width: 100%;
    max-width: 400px;
    background: #006779;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    margin:auto;
}

header img {
    /* padding-top: 10px; */

    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    transition: transform .3s ease, box-shadow .3s ease;
    border: 4px solid transparent
}





.suggestion {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc
}

.suggestion:hover {
    background: #f0f0f0
}

.categories {
    display: block;
    overflow-x: auto;
}

.categories button {
    border: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    cursor: pointer
}

.categories button.active {
    background-color: #ff6f61;
    color: #fff
}

.menu {
    display: block;
    margin: 5px 0;
}

.menu-item {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    margin-top: 10px
}

.menu-item img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: fill
}

.menu-item .details {
    padding: 10px;
    text-align: left
}

.menu-item .details h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.menu-item .details p {
    font-size: 14px;
    color: #777;
    margin: 5px 0
}

.menu-item .details .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px
}

.menu-item .details .rating .stars {
    font-size: 14px;
    color: #f39c12
}

.menu-item .details .quantity-controls {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px
}

.menu-item .details .quantity-controls button {
    background-color: #006779;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.menu-item .details .quantity-controls .quantity {
    margin: 0 10px;
    font-size: 14px
}

.menu-item .details .price {
    margin-top: 10px;
    font-size: 14px;
    color: #006779;
    font-weight: 700;

}

.confirm-button button {
    width: 100%;
    background-color: #b3d328;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.confirm-button button:hover {
    background-color: #ff6f61;
}

.order-items {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.order-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd
}

.order-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px
}

.item-details {
    flex: 1
}

.item-details h3 {
    font-size: 16px;
    color: #333;
    margin: 0
}

.item-details p {
    font-size: 14px;
    color: #777;
    margin: 5px 0
}

.item {
    display: block;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    margin-top: 10px
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover
}

.item-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center
}

.item-info .details {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.item-info .details h3 {
    margin: 0;
    font-size: 16px;
    color: #333
}

.item-info .details .quantity {
    font-size: 14px;
    color: #777
}

.item-info .details .price {
    font-size: 14px;
    color: #006779;
    font-weight: 700
}

.item-info h4 {
    margin: 0;
    font-size: 16px;
    color: #333
}

.item-info p {
    margin: 0;
    font-size: 14px;
    color: #777
}

.special-request {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    padding: 10px
}

.special-request label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px
}

special-request textarea {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px
}
#request {
    width: 100%;
}
special-request textarea {
    width: 100%;
    box-sizing: border-box
}

.promo {
    margin-top: 20px;
    background-color: #e9f7ef;
    padding: 10px;
    border-radius: 5px;
    color: #28a745;
    font-size: 14px
}

.promo p {
    margin: 0;
    display: flex;
    justify-content: space-between
}

.total {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: right;
    margin-bottom: 20px
}

.total p {
    margin: 0
}

.total b {
    font-weight: bold;
    font-size:larger;
    color: #006779
}

.place-btn,
.proceed-btn {
    position: sticky;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: yellowgreen;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color .3s ease
}

.order-complete {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #006779;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color .3s ease;
    font-weight: 700
}

.place-btn:hover,
.proceed-btn:hover,
.track-btn:hover {
    background-color: #008786
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    gap: 10px
}

.payment-method img {
    width: 20px;
    height: 20px
}

.order-details {
    border-radius: 16px;
    padding: 24px;
    background-color: #fff
}

.delivery-time,
.order-details,
.payment,
.total {
    margin-bottom: 20px
}

.delivery-time h3,
.payment h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px
}

.delivery-time p,
.order-details p,
.payment p {
    font-size: 16px;
    color: #777;
    margin: 5px 0
}

.delivery-time a,
.order-details a,
.payment a {
    font-size: 14px;
    color: #ff6f61;
    text-decoration: none
}

.delivery-time a:hover,
.order-details a:hover,
.payment a:hover {
    text-decoration: underline
}

.order-details {
    margin-bottom: 20px
}

.order-details h3 {
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin-bottom: 5px
}

.order-details p {
    font-size: 16px;
    color: #000000;
    margin: 5px 0;
    padding: 2px
}

.confirmation {
    text-align: center
}

.confirmation img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px
}

.confirmation p {
    font-size: 16px;
    color: #333;
    margin: 10px 0
}

.confirmation p b {
    color: #ff6f61
}

.form-group {
    border-bottom: #777;
    border: 5px;
    display: block
}

.form-group label {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: #333
}

.form-group input,
.form-group select {
    width: -webkit-fill-available;
    padding: 10px;
    border: 0 solid #ddd;
    border-radius: 5px;
    font-size: 14px
}

.form-group button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease
}

.form-group button:hover {
    background-color: #ff4a3d
}

.name-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 10px;
    border-color: red;
    padding-left: 5px
}

.phone-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 10px;
    border-color: #a33030;
    padding-left: 5px
}

.name-input img {
    width: 20px;
    height: 20px
}

.phone-input img {
    width: 20px;
    height: 20px
}

.location-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-left: 5px
}

.location-input img {
    width: 20px;
    height: 20px
}

.location-container {
    position: relative;
    width: 100%
}

#address {
    width: -webkit-fill-available;
    padding: 8px 50px 8px 12px;
    font-size: 14px;
    outline: 0
}

#get-location {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: none;
    background-color: yellowgreen;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s
}

#order-status {
    text-align: center;
    margin-top: 20px
}

#order-status-message {
    font-size: 16px;
    color: #333
}

#order-status-icon {
    margin-top: 10px
}

.quantity-controls {
    display: flex;
    align-items: center
}

.quantity-controls button {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background: #f0f0f0;
    cursor: pointer
}

.quantity-controls .quantity {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px
}

#total-bill {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    z-index: 1000
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    animation: popup-animation .5s ease-in-out
}

.success-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999
}

#loading-spinner img {
    width: 150px;
    height: 150px
}

#success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    z-index: 10000;
    text-align: center
}

#success-popup .popup-content img {
    width: 100px;
    height: 100px
}

#success-popup .popup-content p {
    margin: 10px 0
}

#success-popup .popup-content button {
    padding: 10px 20px;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px
}

#success-popup .popup-content button:hover {
    background: #45a049
}

.confirm-button {
    bottom: 0;
    position: sticky;
    display: block;
    background-color: #b3d328;
    color: #fff;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
    width: 100%
}

.confirm-button:hover {
    background-color: #006779
}

.total-bill-confirm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.total-price,
.total-text {
    font-weight: 700;
    font-size: 16px;
    color: #fff
}

#qr-code {
    display: block;
    width: 100%;
    align-items: center;
}

.bank-transfer-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center
}

.call-buton .cc-calto-action-ripple {
    z-index: 99999;
    position: fixed;
    right: 1rem;
    bottom: 5.6rem;
    background: #008786;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    -webkit-animation: cc-calto-action-ripple .6s linear infinite;
    animation: cc-calto-action-ripple .6s linear infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none
}

.call-buton .cc-calto-action-ripple i {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: 2.2rem
}

.call-buton .cc-calto-action-ripple:hover i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

@-webkit-keyframes cc-calto-action-ripple {
    0% {
        -webkit-box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 0 rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2);
        box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 0 rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2);
    }

    100% {
        -webkit-box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2), 0 0 0 20px rgba(0, 135, 134, 0);
        box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2), 0 0 0 20px rgba(0, 135, 134, 0);
    }
}

@keyframes cc-calto-action-ripple {
    0% {
        -webkit-box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 0 rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2);
        box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 0 rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2);
    }

    100% {
        -webkit-box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2), 0 0 0 20px rgba(0, 135, 134, 0);
        box-shadow: 0 4px 10px rgba(0, 135, 134, .2), 0 0 0 5px rgba(0, 135, 134, .2), 0 0 0 10px rgba(0, 135, 134, .2), 0 0 0 20px rgba(0, 135, 134, 0);
    }
}

span.num {
    position: absolute;
    color: #008786;
    left: -60%;
    bottom: -50%;
    background-color: #fff;
    padding: 2px
}

@media (max-width:600px) {
    .call-buton .cc-calto-action-ripple {
        width: 3rem;
        height: 3rem;
        padding: .75rem
    }

    .call-buton .cc-calto-action-ripple i {
        font-size: 1.8rem
    }

    span.num {
        font-size: .8rem;
        background-color: #fff
    }
}




/* styles.css */
.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: white; /* Optional: to ensure it doesn't blend with the background */
    z-index: 1000; /* Optional: to ensure it stays on top of other elements */
}
h2  {
    font-size: 20px; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
    color: yellowgreen; /* Change the color */
    margin: 20px 0; /* Add some margin */
    text-align: left; /* Center the text */
    text-transform: uppercase; /* Optional: make the text uppercase */
    border-bottom: 1px solid #93aa2a; /* Optional: add a bottom border */
    padding-bottom: 10px; /* Optional: add some padding at the bottom */
}
.category h2 {
    font-weight: bold;
    font-size: 20px; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Change the color */
    margin: 20px 0; /* Add some margin */
    text-align: left; /* Center the text */
    text-transform: uppercase; /* Optional: make the text uppercase */
    border-bottom: 1px solid #777; /* Optional: add a bottom border */
    padding-bottom: 10px; /* Optional: add some padding at the bottom */
}
.header-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header-logo img{
    border-radius: 50%;
    margin-right: 10px;
}


.SearchAndCatergory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    /* display: flex; */
    /* align-items: right; */
    margin: 20px 0;
    position: relative;
    width: 28%;
    transition: width 0.3s ease;
    /* margin: 0 auto */
}

.search-bar input {
    flex: 1;
    padding: 12px 10px 12px 30px;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: 0;
    width: 100%;
}

.search-bar input:focus {
    border-color: #b3d328;
    width: 100%;
}

.category-select {
    width: 70%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Add new rules for focus state */
.search-bar input:focus ~ .category-select,
.search-bar input:focus + .category-select {
    opacity: 0;
    visibility: hidden;
}

.search-bar:has(input:focus) {
    width: 100%;
}

#category-select {
    margin: 10px 0;
    padding: 10px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    background: linear-gradient(to right, #ffffff, #f8f9fa);
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    color: #444;
    
    /* Custom dropdown arrow */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}

#category-select:hover {
    border-color: #008786;
    /* transform: translateY(-1px); */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#category-select:focus {
    outline: none;
    border-color: #b3d328;
    box-shadow: 0 0 0 3px rgba(142, 68, 173, 0.2);
}

#category-select option {
    padding: 12px;
    background: white;
    color: #444;
}

#category-select option:hover {
    background-color: #f0f0f0;
}

#suggestions-container {
    position: absolute;
    background: #fff;
    border: 1px #ccc;
    width: 100%;
    max-height: 200px;
    /* overflow-y: auto; */
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    border-top: none
}

